<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- Styles -->
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Scripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/game.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div id="welcome" class="sixteen columns">
          <h1><%= title %></h1>
        </div>
      </div>
      <div id="game" class="row">
        <div id="users" class="four columns"></div>
        <div id="chat" class="twelve columns"></div>
        <div class="row">
          <div id="submission" class="twelve columns">
            <form id="submission_form">
              <input id="submission_text" name="submission" type="text" placeholder="Your Answer" autofocus>
              <input type="submit" value="Answer">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
