body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container .columns {
/*  margin-right: 0px;
  margin-left: 0px;*/
}

#game {
  border: solid thin #ccc;
  height: 500px;
}

#users {
  border-right: solid thin #ccc;
  overflow: scroll;
  height: 500px;
}

#chat {
  position: absolute;
  overflow: scroll;
  height: 447px;
}

#submission {
  border-top: solid thin #ccc;
  position: absolute;
  bottom: 0;
}

#submission_form {
  padding: 5px;
}

input {
  display: block inline;
  float: left;
}

#submission_text {
  width: 80%;
}
