h1, h2 {
  font-family: Courier;
  color: rgb(49, 231, 34);
}

p {
  color: rgb(49, 231, 34);
  padding-top: 5px;
}

ul {
  color: rgb(49, 231, 34);
  padding-top: 5px;
}

body {
  padding: 50px;
  font: 14px Courier;
  background-color: black;
}

a {
  color: #00B7FF;
}

.container .columns {
/*  margin-right: 0px;
  margin-left: 0px;*/
}

#game {
  border: solid thin rgb(49, 231, 34);
  height: 500px;
}

#users {
  border-right: solid thin rgb(49, 231, 34);
  overflow: scroll;
  height: 500px;
}

#chat {
  position: absolute;
  overflow: scroll;
  height: 447px;
}

#submission {
/*  border-top: solid thin rgb(49, 231, 34);*/
  position: absolute;
  bottom: 0;
}

#submission_form {
  padding: 5px;
}

input {
  display: block inline;
  float: left;
}

#submission_text {
  width: 80%;
  margin-top: 2px;
  margin-right: 5px;
}
